SECRET_KEY=django-nsecure-your-super-secret-key
DEBUG=False
DB_PORT=5432
DB_HOST=localhost
DB_NAME=volley_db
DB_USER=volley_user
DB_PASSWORD=hard-pass_Super13!
TG_BOT_USERNAME=volleykarelia_bot
TG_BOT_API_URL=http://{YOUR_VDS_IP}:{PORT}/api/v1/send-code
TG_BOT_API_KEY=HARD-secret_pas$-asdasdasdasdasqweqwfddsafadsfwerhrethbsdf-orangel-apple-pencil!?
