annotated-types==0.8.0
asgiref==3.12.1
Django==6.1.1
gunicorn==26.2.0
psycopg2-binary==2.9.13
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
python-dotenv==1.2.3
sqlparse==0.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
